* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eee;
}
form{
    max-width: 200px;
    margin: 40px auto;
    background: #fff;
    padding: 10px;
}
input{
    display: block;
    margin: 10px auto;
    padding: 4px;
    outline: none;
}

.error{
    border: 1px solid crimson;
    background-color:rgba(200, 20, 60, 0.4);
}

.success{
    border: 2px solid limegreen;
    background-color:rgba(50, 205, 50, 0.3);
} 

/* 

li {
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px;
    background-color: #eee;
    border: 1px dotted #ddd;
    cursor: pointer;
}
.error{
    padding: 10px;
    color: crimson;
    border: 1px dotted crimson;
}

.success{
    padding: 10px;
    color: limegreen;
    border: 2px dashed limegreen;
} */